@import 'flat-ui-theme';

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 12px;
}

.hidden {
  display: none;
}

h2 {
  margin-top: 12px;
  font-size: 22px;
  color: $palette-asbestos;

  i {
    margin-right: 6px;
    font-size: 75%;
  }
}

.site-list {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.site {
  -webkit-box-flex: 0 0 200px;
  -moz-box-flex: 0 0 200px;
  width: 200px;
  height: 120px;
  -webkit-flex: 0 0 200px;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  margin: 12px;
  padding: 9px;
  border: 2px solid $palette-orange;
  border-radius: 3px;
  text-align: center;
}

.logged-out.site {
  border-color: $palette-emerald;
}

.site-status .fa {
  font-size: 24px;
}

.logged-in .site-status .fa {
  color: $palette-orange;

}

.logged-out .site-status .fa {
  color: $palette-emerald;
}

#post-mortem {
  margin: 0;
  padding: 48px 24px;
  color: white;
  background-color: $palette-belize-hole;

  a, a:hover {
    color: white;
  }
}

footer {
  background-color: $palette-clouds;
  padding: 24px;
  text-align: center;

  a, a:hover {
    color: $palette-peter-river;
    text-decoration: none;
    font-size: 18px;
  }

  a .fa {
    position: relative;
    font-size: 150%;
    top: 2px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 16px;
  }

  .site {
    -webkit-box-flex: 0 0 160px;
    -moz-box-flex: 0 0 160px;
    width: 160px;
    -webkit-flex: 0 0 160px;
    -ms-flex: 0 0 160px;
    flex: 0 0 160px;
    height: 96px;
  }
}
