body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 12px;
}

.hidden {
  display: none;
}

h2 {
  margin-top: 12px;
  font-size: 22px;
  color: #7f8c8d;
}

h2 i {
  margin-right: 6px;
  font-size: 75%;
}

.site-list {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.site {
  width: 200px;
  margin: 12px;
  padding: 9px;
  height: 120px;
  border: 2px solid #f39c12; /* orange */
  border-radius: 3px;
  text-align: center;
}

.logged-out.site {
  border-color: #2ecc71; /* emerald */
}

.site-status .fa {
  font-size: 24px;
}

.logged-in .site-status .fa {
  color: #f39c12; /* orange */

}

.logged-out .site-status .fa {
  color: #2ecc71; /* emerald */
}

#post-mortem {
  margin: 0;
  padding: 48px 24px;
  color: white;
  background-color: #2980b9; /* belize hole */
}

footer {
  background-color: #ecf0f1; /* clouds */
  padding: 24px;
  text-align: center;
}

footer a, footer a:hover {
  color: #3498db; /* peter river */
  text-decoration: none;
  font-size: 18px;
}

footer a .fa {
  position: relative;
  font-size: 150%;
  top: 2px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
