@import 'flat-ui-theme';

$site-desktop-width: 200px;
$site-desktop-height: 120px;
$site-mobile-width: 140px;
$site-mobile-height: 84px;

@mixin flex-fallback($grow, $shrink, $basis) {
  -webkit-box-flex: $grow $shrink $basis;
     -moz-box-flex: $grow $shrink $basis;
             width: $basis;
      -webkit-flex: $grow $shrink $basis;
          -ms-flex: $grow $shrink $basis;
              flex: $grow $shrink $basis;
}

@mixin flex {
  display: -webkit-box;
  display:    -moz-box;
  display:     -ms-flexbox;
  display: -webkit-flex;
  display:         flex;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

.hidden {
  display: none;
}

#progress-bar {
  background-color: $palette-silver;
  margin-bottom: 12px;

  .progress {
    height: 100%;
    width: 1%;
    overflow: visible;
    background-color: $palette-belize-hole;
    transition: width 1s ease;
  }

  h1 {
    margin: 0;
    padding: 12px;
    color: white;
    font-family: "Lobster", sans-serif;
    font-weight: normal;
    font-size: 32px;
  }
}

h2 {
  margin: 0;
  font-size: 22px;
  color: $palette-asbestos;

  i {
    margin-right: 6px;
    font-size: 75%;
  }
}

.site-list {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  list-style: none;
  @include flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.site {
  @include flex-fallback(0, 0, $site-desktop-width);
  @include flex;
  box-sizing: border-box;
  height: $site-desktop-height;
  margin: 12px;
  padding: 1rem .5rem;
  border: 2px solid $palette-orange;
  border-radius: 3px;
  text-align: center;
}

.logged-out.site {
  border-color: $palette-emerald;
}

.site-status .fa {
  font-size: 24px;
}

.logged-in .site-status .fa {
  color: $palette-orange;

}

.logged-out .site-status .fa {
  color: $palette-emerald;
}

#post-mortem {
  margin: 0;
  padding: 48px 24px;
  color: white;
  background-color: $palette-belize-hole;

  a, a:hover {
    color: white;
  }
}

footer {
  padding: 48px 24px;
  text-align: center;

  a, a:hover {
    color: $palette-peter-river;
    text-decoration: none;
    font-size: 18px;
  }

  a .fa {
    position: relative;
    font-size: 150%;
    top: 2px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 12px;
  }

  .site {
    @include flex-fallback(0, 0, $site-mobile-width);
    height: $site-mobile-height;
  }
}
